{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron pt-6">
	<h1 class="display-4">Reduce Your Risk from COVID-19</h1>
	<p class="lead Misc-Font-Color-2">COVID-19 spreads through direct contact with respiratory droplets or someone who is affected with the virus (e.g., when they cough or sneeze). These droplets can spread up to 2 metres or 6 feet.</p>
	<hr>

	<h3>Who is at increased risk?</h3>
	<h5>Risk for hospitalization or death from COVID-19 increases with:</h5>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Age, as you get older the risk increases especially in older adults; 
		</li>
		<li class="Misc-Font-Color-2">
			Having a chronic medical condition including obesity, diabetes, lung/heart/kidney/liver diseases, stroke, high blood pressure, and conditions that weaken the immune system  (e.g., some cancers, untreated HIV/AIDS); 
		</li>
		<li class="Misc-Font-Color-2">
			Taking medications that weaken the immune system (e.g., chemotherapy, oral steroid medications). 
		</li>
	</ul>

	<br>
	<h3>Limit the number of people you are physically near</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Stay in touch with friends and family through phone, video chats, or text whenever possible. 
		</li>
		<li class="Misc-Font-Color-2">
			Work from home if possible.
		</li>
		<li class="Misc-Font-Color-2">
			See your health care providers virtually (e.g., doctors, physiotherapists) whenever possible.  
		</li>
	</ul>

	<br>
	<h3>Wear a mask and ensure those near you do too</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Wear a non-medical mask to help you from spreading infection to others.  
		</li>
		<li class="Misc-Font-Color-2">
			Wear a mask when you are indoors with people outside of your household and ensure those near you do too (assuming that you know them and it is safe to discuss mask use with them). 
		</li>
		<li class="Misc-Font-Color-2">
			Wear a mask whenever you are outdoors within 2 metres/6 feet of people outside of your household and ensure those near you do too.  
		</li>
	</ul>

	<br>
	<h3>Clean your hands frequently</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Wash hands often with soap and water. Don’t share hand towels.  
		</li>
		<li class="Misc-Font-Color-2">
			Carry and use an alcohol-based hand rub (60% - 90% alcohol) if soap and water are not available.  
		</li>
		<li class="Misc-Font-Color-2">
			Clean your hands whenever you touch objects or surfaces touched by others, and also if you touch another person. Avoid touching your face, and if you need to, clean your hands first.  
		</li>
	</ul>
	<br>


</div>
{% endblock %}