{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron pt-6">
	<h1 class="display-5">Physical Distancing</h1>
	
	<hr>

	<h3>What is physical distancing? </h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Physical distancing means keeping our distance from one another and limiting activities outside the home. 
		</li>
		<li class="Misc-Font-Color-2">
			When outside your home, it means staying at least 2 metres (or 6 feet)awayfrom other peoplewhenever possible. 
		</li>
	</ul>

	<br>
	<h3>Staying connected from home</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Host virtual playdates or take your children on a virtual museum tour. 
		</li>
		<li class="Misc-Font-Color-2">
			Spend time reading, playing board games and watching movies.
		</li>
		<li class="Misc-Font-Color-2">
			Support neighbours who may feel anxious or isolated at this timeby connecting virtually or at a distance.
		</li>
	</ul>

	<br>
	<h3>If you must leave your home</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Travel to the grocery store, pharmacy and bank only when essential and limit the frequency.  
		</li>
		<li class="Misc-Font-Color-2">
			Use delivery services where possible. When picking up food or a prescription, call ahead so it is ready when you arrive. Use tap to pay, if possible. 
		</li>
		<li class="Misc-Font-Color-2">
			Greet neighbours and friends with a smile, wave, bow or nod.  
		</li>
		<li class="Misc-Font-Color-2">
			If you are working, discuss any concerns about physical distancing with your employer or supervisor.  
		</li>
		<li class="Misc-Font-Color-2">
			Travel by car, bike or walk, where possible.If you need to take public transit, try to travel during non-peak hours and take shorter trips. 
		</li>
		<li class="Misc-Font-Color-2">
			Limit the number of people on an elevator.  
		</li>
		<li class="Misc-Font-Color-2">
			Exercise at home or outdoors, but not with a group.  
		</li>
		<li class="Misc-Font-Color-2">
			Go for an on-leash walk with your pet or take your child for a neighbourhood walk, while maintaining distance from other people.  
		</li>
		<li class="Misc-Font-Color-2">
			Always clean hands with alcohol-based hand sanitizer,or soap and water when you return home.  
		</li>
	</ul>

	<br>
	<h3>Things to avoid</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Non-essential trips outside your home  
		</li>
		<li class="Misc-Font-Color-2">
			Hugging or shaking hands  
		</li>
		<li class="Misc-Font-Color-2">
			Crowds or gatherings  
		</li>
		<li class="Misc-Font-Color-2">
			Visiting friends  
		</li>
		<li class="Misc-Font-Color-2">
			Sharing food or utensils  
		</li>
		<li class="Misc-Font-Color-2">
			Engaging in group activities or sports  
		</li>
		<li class="Misc-Font-Color-2">
			Visiting popular destinations  
		</li>
		<li class="Misc-Font-Color-2">
			Play dates, parties or sleepovers  
		</li>
	</ul>
	<br>
	
</div>
{% endblock %}