{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron pt-6">
	<h1 class="display-5">How to Self-Isolate</h1>
	<p class="lead Misc-Font-Color-2">Coronavirus Disease 2019 (COVID-19)</p>
	<hr>

	<h3>Stay home</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Do not go to work, school or other public places.  
		</li>
		<li class="Misc-Font-Color-2">
			Stay home unless you need to get tested or require emergency medical care.   
		</li>
		<li class="Misc-Font-Color-2">
			Do not use public transportation, taxis or rideshares.   
		</li>
	</ul>

	<br>
	<h3>Avoid contact with others</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			No visitors unless essential (e.g., care providers) 
		</li>
		<li class="Misc-Font-Color-2">
			Stay away from seniors and people with chronic medical conditions  (e.g., diabetes, lung problems, immune deficiency). 
		</li>
		<li class="Misc-Font-Color-2">
			As much as possible, stay in a separate room away from other people  in your home and use a separate bathroom if you have one.
		</li>
		<li class="Misc-Font-Color-2">
			Make sure that shared rooms have good airflow (e.g., open windows).
		</li>
		<li class="Misc-Font-Color-2">
			If these steps are not possible, keep a distance of at least 2 metres from  others at all times.
		</li>
	</ul>

	<br>
	<h3>Wash your hands</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Wash your hands often with soap and water.  
		</li>
		<li class="Misc-Font-Color-2">
			Dry your hands with a paper towel or with cloth towel  that no one else will share.
		</li>
		<li class="Misc-Font-Color-2">
			Use an alcohol-based hand sanitizer if soap and water are not available.  
		</li>
	</ul>

	<br>
	<h3>Cover your coughs and sneezes</h3>
	<ul style="margin:0; margin-left: 25px; padding:0; font-family: Arial, sans-serif; color:#495055; font-size:16px; line-height:22px;" align="left" type="disc">
		<li class="Misc-Font-Color-2">
			Cover your mouth and nose with a tissue when you cough or sneeze.  
		</li>
		<li class="Misc-Font-Color-2">
			Cough or sneeze into your upper sleeve or elbow, not your hand.  
		</li>
		<li class="Misc-Font-Color-2">
			Throw used tissues in a lined wastebasket, and wash your hands.  
		</li>
		<li class="Misc-Font-Color-2">
			Lining the wastebasket with a plastic bag makes waste disposal safer.  
		</li>
		<li class="Misc-Font-Color-2">
			Clean your hands after emptying the wastebasket.   
		</li>
	</ul>
	<br>
	
</div>
{% endblock %}