{% extends "layout.html" %}
{% block content %}

	<div class="content-section bg-content-section">
		<form method="POST" action="">
			{{form.hidden_tag()}}
			<fieldset class="form-group">
				<legend class="article-metadata text-Mode">Join Today</legend>
					
					<div class="form-group text-Mode">
							{{ form.username.label(class="form-control-label") }}
							{% if form.username.errors %}
							<script>console.log("username - test")</script>
							{{ form.username(class="form-control form-control-lg alert-danger is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
								<div>{{ error }}</div>
								{% endfor %}
							</div>
							{% else %}
							{{ form.username(class="form-control form-control-lg") }}
							{% endif %}
					</div>
					
					<div class="form-group text-Mode">
							{{ form.email.label(class="form-control-label") }}
							{% if form.email.errors %}
							<script>console.log("email - test")</script>
							{{ form.email(class="form-control form-control-lg alert-danger is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<div>{{ error }}</div>
								{% endfor %}
							</div>
							{% else %}
								{{ form.email(class="form-control form-control-lg") }}
							{% endif %}
					</div>
					
					<div class="form-group text-Mode">
							{{ form.password.label(class="form-control-label") }}
							{% if form.password.errors %}
							<script>console.log("password - test")</script>
							{{ form.password(class="form-control form-control-lg alert-danger is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
								<div>{{ error }}</div>
								{% endfor %}
							</div>
							{% else %}
								{{ form.password(class="form-control form-control-lg") }}
							{% endif %}
					</div>

					<div class="form-group text-Mode">
							{{ form.confirm_password.label(class="form-control-label") }}
							{% if form.confirm_password.errors %}
							<script>console.log("confirm_password - test")</script>
							{{ form.confirm_password(class="form-control form-control-lg alert-danger is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
								<div>{{ error }}</div>
								{% endfor %}
							</div>
							{% else %}
								{{ form.confirm_password(class="form-control form-control-lg") }}
							{% endif %}
					</div>
			<div class="form-group me-2 pt-2">
				{{ form.submit(class="btn btn-outline-Mode") }}
			</div>
		</fieldset>
		</form>
		
		<div class="pt-1">
		<small class="text-Mode">
			Already Have An Account? <a class="me-2 text-Mode" href="{{ url_for('users.login') }}">Sign In</a>
		</small>
		</div>
	</div>
{% endblock content %}
